<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script type="text/javascript">
        function fullwin() {
            top.location.href = "../Login/LoginFirst";
            return false;
        }
    </script>
</head>
<body onload="fullwin()">
</body>
</html>
