@{
    ViewBag.Title = "考试预约订单";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
<script>
    var queryJson = request('queryjson');
    $(function () {
        InitialPage();
        GetGrid();

    });
    //初始化页面
    function InitialPage() {
        $("#ddlstatus").ComboBox({
            url: "/DataItemEnums/GetExamStatus",
            param: null,
            id: "ItemId",
            text: "ItemName",
            description: "==请选择订单状态==",
            height: "200px"
        });

        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                //$("#gridTable").setGridHeight($(window).height() - 160);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "/QX360Manage/ExamOrder/GetPageListJson",
            datatype: "json",
            postData: { queryJson: queryJson },//如果默认其他条件
            height: $(window).height() - 170,
            autowidth: true,
            colModel: [
                { label: "主键", name: "ExamId", hidden: true },
                 { label: "用户姓名", name: "MemberName", index: "MemberName", width: 200, align: "center" },

                 { label: "联系方式", name: "MemberMobile", index: "MemberMobile", width: 100, align: "center" },
                    { label: "学车类型", name: "ClassName", index: "ClassName", width: 100, align: "center" },
                {
                    label: "考试科目", name: "SubjectName", index: "SubjectName", width: 150, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return cellvalue;
                    }
                },
                {
                    label: "通过时间", name: "ExamDate", index: "ExamDate", width: 150, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue,'yyyy-MM-dd');
                    }
                },
                {
                    label: "状态", name: "StatusName", index: "StatusName", width: 100, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return cellvalue;
                    }
                }
            ],
            multiselect: true,
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CreateTime',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true
        });
        //查询条件设置
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {};
            queryJson["keyword"] = $("#txt_Keyword").val();
            queryJson["condition"] = $("#queryCondition").find('.dropdown-text').attr('data-value');
            queryJson["status"] = $("#ddlstatus").attr('data-value');
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }
            }).trigger('reloadGrid');
        });
    }
    //新增
    function btn_add() {

        dialogOpen({
            id: "Form",
            title: '新增信息',
            url: '/QX360Manage/ExamOrder/Form',
           width: "800px",height: "600px",
           
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    };
    //编辑
    function btn_edit() {
        var keyValue = $("#gridTable").jqGridRowValue("ExamId");
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: "Form",
                title: '编辑信息',
                url: '/QX360Manage/ExamOrder/Form?keyValue=' + keyValue,
               width: "800px",height: "600px",
               
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $("#gridTable").jqGridRowValue("ExamId");
        if (checkedArray(keyValue)) {
            $.RemoveForm({
                url: "/QX360Manage/ExamOrder/RemoveForm",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#gridTable").trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg('请选择需要删除的行！', 0);
        }
    }

    function btn_cancel() {
        var keyValue = $("#gridTable").jqGridRowValue("ExamId");
        if (checkedArray(keyValue)) {
            $.ConfirmAjax({
                msg: "注：您确定此操作吗？",
                url: "/QX360Manage/ExamOrder/Cancel",
                param: { keyValue: keyValue },
                success: function (result) {
                    if (result.IsSuccess) {
                        $("#gridTable").trigger("reloadGrid");
                    }
                },
                error: function (result) {
                    dialogMsg(result.Message, 0);

                }
            })
        }
    }

    //导出
    function btn_export() {
        var queryJson = {};
        var keyValue = $("#gridTable").jqGridRowValue("ExamId");
        queryJson["checkedids"] = keyValue;
        queryJson["keyword"] = $("#txt_Keyword").val();
        queryJson["condition"] = $("#queryCondition").find('.dropdown-text').attr('data-value');
        queryJson["status"] = $("#ddlstatus").attr('data-value');
        var actionUrl = "/QX360Manage/ExamOrder/ExportExcel";
        var iscompletedMsg = "iscompletedMsg";
        var para = "queryJson|" + JSON.stringify(queryJson);
        doProgressExport(para, actionUrl, iscompletedMsg, "uploadFlag");
    }
</script>
<div class="row">
    <div class="toolbarPanel">
        <div class="row">
            <div class="col-md-1">
                <div id="queryCondition" class="btn-group">
                    <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-value="MemberName">姓名</a></li>
                        <li><a data-value="MemberMobile">联系方式</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-2">
                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="" />
            </div>
            <div class="col-md-2">
                <div id="ddlstatus" type="select" class="ui-select">
                </div>
            </div>
            <div class="col-md-1">
                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
            </div>

            <div class="toolbar">
                <div class="btn-group animated fadeInDownBig">
                    <a id="btn-replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    <a id="btn-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                    <a id="btn-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                    <a id="btn-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                    <a id="btn-export" class="btn btn-default" onclick="btn_export()"><i class="fa fa-sign-out"></i>&nbsp;导出</a>
                    <span style="line-height: 26px" class='' id="uploadFlag">
                        <span id="iscompletedMsg"
                              style="display: none;"><font color='red'>正在处理，请稍候...</font></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="gridPanel">
        <table id="gridTable"></table>
        <div id="gridPager" style="padding: 10px; height: 40px; background: #F3F3F4;"></div>
    </div>
</div>
