@{
    ViewBag.Title = "编辑";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section Head{

}
<script>
    var keyValue = request('keyValue');
    $(function () {
        InitialPage();
        InitControl();
        uploadFacePic();
    });

    //初始化数据
    function InitControl() {

        $("#ddlschool").ComboBox({
            url: "/School/GetDataListJson",
            param: null,
            id: "SchoolId",
            text: "Name",
            description: "==请选择驾校==",
            height: "200px"
        });


        if (!!keyValue) {
            //$("#MemberName").attr("readonly", "readonly");
            //设置控件值
            $.SetForm({
                url: "/QX360Manage/NetSigin/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    if (data != null) {
                        $("#form1").SetWebControls(data);
                        if (data.HeadIcon) {
                            $("#HidFaceImage").val(data.HeadIcon);
                            var host = '@(System.Configuration.ConfigurationManager.AppSettings["ImageHost"] == "" ? string.Format("http://{0}{1}", Request.Url.Host, Request.Url.Port == 80 ? "" : ":" + Request.Url.Port) : System.Configuration.ConfigurationManager.AppSettings["ImageHost"])';
                            document.getElementById('uploadPreview').src = host + data.HeadIcon;
                        }
                        if (data.SchoolId) {
                            $("#ddlschool").ComboBoxSetValue(data.SchoolId);
                        }

                    }
                }
            });
        }

    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        postData["SchoolId"] = $("#ddlschool").attr('data-value');
        postData["HeadIcon"] = $("#HidFaceImage").val();
        $.SaveForm({
            url: "/QX360Manage/NetSigin/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
    function uploadFacePic() {
        $("#uploadPreview").unbind("click").bind("click", function () {
            $('#uploadFaceImage').trigger("click");
        })
        //上传图标
        $('#uploadFaceImage').change(function () {
            var f = document.getElementById('uploadFaceImage').files[0];
            var src = window.URL.createObjectURL(f);
            document.getElementById('uploadPreview').src = src;
            var formData = new FormData();
            //为FormData对象添加数据
            $.each($('#uploadFaceImage')[0].files, function (i, file) {
                formData.append('file', file);
            });

            //上传应用图标
            $.ajax({
                url: "@System.Configuration.ConfigurationManager.AppSettings["ImageHost"]/Upload/UploadFile",
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data && data.IsSuccess) {
                        $("#HidFaceImage").val(data.ResultData["files"]);
                    }
                    else {
                        alert(data.Message);
                    }
                }
            });
        });
    }
    //初始化页面
    function InitialPage() {

        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            //window.setTimeout(function () {
            //    //$('.profile-nav').height($(window).height() - 20);
            //    //$('.profile-content').height($(window).height() - 20);
            //}, 200);
            //e.stopPropagation();
        });


    }
</script>
<div style="margin-left: 10px; margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">照片</td>
            <td>
                <input type="hidden" id="HidFaceImage" />
                <div style="text-align: center;">
                    <div class="" style="width: 100px; height: 100px;">
                        <img id="uploadPreview" style="width: 100px; height: 100px; border-radius: 100px; border:0px" src="~/Content/images/add.png" />
                        <input type="file" name="uploadFaceImage" id="uploadFaceImage" style="display:none">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="MemberName" type="text" class="form-control input-profile" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">手机号码<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="MemberTel" type="text" class="form-control input-profile" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">所属驾校<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="ddlschool" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">签约时间<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="CreateTime" type="text" class="form-control input-profile input-wdatepicker" isvalid="yes" checkexpession="NotNull" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd' })" />
            </td>
        </tr>
    </table>
</div>
