@{
    ViewBag.Title = "预约成功";
}

<div class="Dtrn_top">
    <img src="/content/images/return.jpg">
    <div class="Dtrn_top_h2"><i class="iconfont icon-chenggong Dtrn_top_icon"></i><br />预约成功</div>
    <div class="Dtrn_top_txt">预约成功后，请即时和教练取得联系，并做好陪驾服务安排</div>
</div>

<div class="Dtrn_btn">
    <a href="#" onclick="window.history.go(-3)">确定</a>
    <a href="/MyCenter/WithDriving" class="Dtrn_btn_a">查看预约</a>
</div>

