@{
    ViewBag.Title = "报名反馈结果";
}

<div class="Dtrn_top">
    <img src="/content/images/return.jpg">
    <div class="Dtrn_top_h2"><i class="iconfont icon-chenggong Dtrn_top_icon"></i><br />报名成功</div>
    <div class="Dtrn_top_txt">报名成功后，请耐心等待工作人员上门</div>
</div>

<div class="Dtrn_btn">
    <a href="#" onclick="window.history.go(-2)">确定</a>
    <a href="/MyCenter/School" class="Dtrn_btn_a">查看报名</a>
</div>