@{
    ViewBag.Title = "年检服务";
}

<div class="Ent_top">
    <div class="Ent_top_h1">年检服务</div>
</div>

<div class="Ent_btn">
    <a href="/Audit/Index?type=1">
        <div class="Ent_Cre">
            <i class="iconfont icon-shenhe4 Ent_Cre_icon" style="font-size:0.6rem; margin-left:0.08rem;"></i>
            <div>个人年检</div>
            <div class="Ent_Cre_sm">个人年检服务</div>
            <i class="iconfont icon-jiantou Ent_Join_po"></i>
        </div>
    </a>
    <a href="/Audit/Index?type=2">
        <div class="Ent_Join">
            <i class="iconfont icon-gongsi Ent_Join_icon"></i>
            <div>集团年检</div>
            <div class="Ent_Join_sm">集团年检服务</div>
            <i class="iconfont icon-jiantou Ent_Join_po"></i>
        </div>
    </a>
</div>

