@{
    ViewBag.Title = "考场实训";
}
@section scripts{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=@(QSDMS.Util.Config.GetValue("baidumap_client_key"))"></script>
    <script type="text/javascript">
        var type = request('type');
        var trainingtype = request('trainingtype');
        function ViewModel() {
            var self = this;
            self.Type = ko.observable(type);
            self.TrainingType = ko.observable(trainingtype);
            self.Area = ko.observable({
                Province: ko.observableArray([]),
                City: ko.observableArray([]),
                County: ko.observableArray([])
            });
            self.DistanceRange = ko.observableArray([]);
            self.PriceRange = ko.observableArray([]);

            self.PageIndex = ko.observable(1);
            self.IsEndPage = ko.observable(false);
            self.List = ko.observableArray([]);
            self.BannerList = ko.observableArray([]);
            self.KeyWord = ko.observable("");
            self.ProvinceId = ko.observable("");
            self.CityId = ko.observable("");
            self.CountyId = ko.observable("");
            self.DistanceId = ko.observable("");
            self.PriceId = ko.observable("");
            self.Lng = ko.observable("");
            self.Lat = ko.observable("");
            self.toDataInfo = function (data) {
                var obj = {};
                for (var o in data) {
                    obj[o] = ko.observable(data[o]);
                }
                return obj;
            };
            self.loadSchoolList = function (isAppend) {
                var queryJson = {};
                queryJson["keyword"] = self.KeyWord();
                queryJson["provinceid"] = self.ProvinceId();
                queryJson["cityid"] = self.CityId();
                queryJson["countyid"] = self.CountyId();
                queryJson["distanceid"] = self.DistanceId();
                queryJson["priceid"] = self.PriceId();
                queryJson["lat"] = self.Lat();
                queryJson["lng"] = self.Lng();
                queryJson["istraining"] = "1";
                queryJson["trainingtype"] = trainingtype;
                $.get("/ExamPlace/List", { queryJson: JSON.stringify(queryJson) }, function (result) {
                    if (result.IsSuccess)
                    {
                        self.List(result.ResultData["List"]);
                    }
                    //self.processSchoolList(result, isAppend);
                });
            }


            self.CutWord = function (str) {
                var Ilength = 35;
                if (str) {
                    var _exp = "...";
                    if (str.length > Ilength) {
                        return str.substring(0, Ilength) + _exp;
                    }
                    else {
                        return str;
                    }
                } else {
                    return "";
                }
                return str;
            }

        }

        $(function () {
            var model = new ViewModel();
            ko.applyBindings(model);

            $.get("/MapPosition/GetUserPoint", null, function (result) {
                if (result.IsSuccess) {
                    var data = result.ResultData["Data"];
                    var lat = data.Lat;
                    var lng = data.Lng;
                    if (lat) {
                        model.Lng(lng);
                        model.Lat(lat);
                        model.loadSchoolList();

                    }
                } else {
                    //定位当前地址
                    var geolocation = new BMap.Geolocation();
                    geolocation.getCurrentPosition(function (r) {
                        if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                            //var mk = new BMap.Marker(r.point);
                            // alert('您的位置：' + r.point.lng + ',' + r.point.lat);
                            model.Lng(r.point.lng);
                            model.Lat(r.point.lat);
                            model.loadSchoolList();

                            $.post("/MapPosition/SetUserPoint", { "lat": r.point.lat, "lng": r.point.lng }, function (result) {

                            });
                        }
                        else {
                            alert('failed' + this.getStatus());
                            model.loadSchoolList();
                        }
                    },
                    {
                        enableHighAccuracy: true
                    })
                }
            });

            //model.Area().Province(GetAreaData(1));
            //model.Area().City(GetAreaData(2));
            //model.Area().County(GetAreaData(3));
            //model.DistanceRange(GetDistanceRange());
            //model.PriceRange(GetPriceRange());
            FastClick.attach(document.body);


            //默认显示区域数据 显示第一个省
            var normalproviceid = $("#divarea .Ptl_snav_left dd:eq(0)").attr("id");
            $("#divarea .Ptl_snav_center dd").css({ "display": "none" });
            $("#divarea .Ptl_snav_center dd[parentid='" + normalproviceid + "']").css({ "display": "block" });
            $("#" + normalproviceid).addClass('Ptl_snav_dd');
            var normalcityid = $(".Ptl_snav_center dd[parentid='" + normalproviceid + "']:eq(0)").attr("id");
            $("#divarea .Ptl_snav_right dd").css({ "display": "none" });
            $("#divarea .Ptl_snav_right dd[parentid='" + normalcityid + "']").css({ "display": "block" });
            $("#" + normalcityid).addClass('Pcr_snav_rtdd');
            //筛选
            $('.Dto_nav_left .Ptldiv').on('click', function () {
                $('.Ptl_back').show()//背景
                $('.Ptldiv').find('span').removeClass('Ptl_span')
                $(this).find('span').addClass('Ptl_span')
                $('.Ptl_snav').hide()
                $(this).next('.Ptl_snav').show()
            })
            //选择区域
            //省
            $('#divarea .Ptl_snav_left dd').on('click', function () {
                $('#divarea .Ptl_snav_left dd').removeClass('Ptl_snav_dd');
                $(this).addClass('Ptl_snav_dd');
                $("#divarea .Ptl_snav_center dd").css({ "display": "none" });
                $("#divarea .Ptl_snav_center dd[parentid='" + $(this).attr("id") + "']").css({ "display": "block" });
                model.ProvinceId($(this).attr("id"));
            })
            //市
            $('#divarea .Ptl_snav_center dd').on('click', function () {
                $('#divarea .Ptl_snav_center dd').removeClass('Pcr_snav_rtdd');
                $(this).addClass('Pcr_snav_rtdd');
                $("#divarea .Ptl_snav_right dd").css({ "display": "none" });
                $("#divarea .Ptl_snav_right dd[parentid='" + $(this).attr("id") + "']").css({ "display": "block" });
                model.CityId($(this).attr("id"));
            })
            //区
            //选择后关闭
            $('#divarea .Ptl_snav_right dd').on('click', function () {
                $('#divarea .Ptldiv').find('span').removeClass('Ptl_span');
                $('.Ptl_back').hide();
                $('.Ptl_snav').hide();
                model.CountyId($(this).attr("id"));

                //清空其他的条件
                model.DistanceId("");
                model.PriceId("");
                model.Seach();
            })
            //距离
            $('#divdistance .Ptl_snav_right dd').on('click', function () {
                $('#divdistance .Ptldiv').find('span').removeClass('Ptl_span');
                $('.Ptl_back').hide();
                $('.Ptl_snav').hide();
                model.DistanceId($(this).attr("id"));

                //清空其他的条件
                model.ProvinceId("");
                model.CityId("");
                model.CountyId("");
                model.PriceId("");
                model.Seach();
            })
            $('#divprice .Ptl_snav_right dd').on('click', function () {
                $('#divprice .Ptldiv').find('span').removeClass('Ptl_span');
                $('.Ptl_back').hide();
                $('.Ptl_snav').hide();
                model.PriceId($(this).attr("id"));

                //清空其他的条件
                model.ProvinceId("");
                model.CityId("");
                model.CountyId("");
                model.DistanceId("");

                model.Seach();
            })

            //空白关闭
            $('.Ptl_back').on('click', function () {
                $('.Ptldiv').find('span').removeClass('Ptl_span')
                $('.Ptl_back').hide()
                $('.Ptl_snav').hide()
            })
        });

        //获取区域信息
        function GetAreaData(layer) {
            var rs = [];
            $.ajax({
                type: "GET",
                url: "/Area/GetAreaList",
                async: false,
                data: { layer: layer },
                success: function (result) {
                    if (result.IsSuccess) {
                        var data = result.ResultData["List"];
                        for (var i in data) {
                            var item = data[i];
                            rs.push({
                                "id": item.AreaId,
                                "value": item.AreaName,
                                "parentid": item.ParentId
                            });
                        }
                    }
                }
            });
            return rs;
        }
        function GetDistanceRange() {
            var rs = [];
            $.ajax({
                type: "GET",
                url: "/DataItemEnums/GetDistanceRange",
                async: false,
                data: null,
                success: function (result) {
                    if (result.IsSuccess) {
                        var data = result.ResultData["List"];
                        for (var i in data) {
                            var item = data[i];
                            rs.push({
                                "id": item.ItemId,
                                "value": item.ItemName,
                            });
                        }
                    }
                }
            });
            return rs;
        }
        function GetPriceRange() {
            var rs = [];
            $.ajax({
                type: "GET",
                url: "/DataItemEnums/GetPriceRange",
                async: false,
                data: null,
                success: function (result) {
                    if (result.IsSuccess) {
                        var data = result.ResultData["List"];
                        for (var i in data) {
                            var item = data[i];
                            rs.push({
                                "id": item.ItemId,
                                "value": item.ItemName,
                            });
                        }
                    }
                }
            });
            return rs;
        }

    </script>
}
@section css{
    <style type="text/css">
        .Dtmenu li {
            margin-bottom: 10px;
        }
    </style>
}
<div class="Ptl_con">
    <div class="Ptl_back"></div>
    @*<div class="Dto_nav Ptl_nav">
        <div class="Dto_nav_left" id="divarea">
            <div class="Ptldiv"><span>区域</span><i class="iconfont icon-chevron-tiny-down"></i></div>
            <div class="Ptl_snav">
                <dl class="Ptl_snav_left" data-bind="foreach: $root.Area().Province">
                    <dd data-bind="attr:{id:id,parentid:parentid},text:value"></dd>
                </dl>
                <dl class="Ptl_snav_center" data-bind="foreach: $root.Area().City">
                    <dd data-bind="attr:{id:id,parentid:parentid,title:value},text:value" style="display:none;overflow:hidden"></dd>

                </dl>
                <dl class="Ptl_snav_right" data-bind="foreach: $root.Area().County">
                    <dd data-bind="attr:{id:id,parentid:parentid,title:value},text:value" style="display: none; overflow: hidden; "></dd>

                </dl>
            </div>
        </div>
        <div class="Dto_nav_left" id="divdistance">
            <div class="Ptldiv"><span>距离</span><i class="iconfont icon-chevron-tiny-down"></i></div>
            <div class="Ptl_snav">
                <dl class="Ptl_snav_right Ptl_snav_length" data-bind="foreach:$root.DistanceRange">
                    <dd data-bind="attr:{id:id,title:value},text:value"></dd>
                </dl>
            </div>
        </div>
        <div class="Dto_nav_left" id="divprice">
            <div class="Ptldiv"><span>费用</span><i class="iconfont icon-chevron-tiny-down"></i></div>
            <div class="Ptl_snav">
                <dl class="Ptl_snav_right Ptl_snav_length" data-bind="foreach:$root.PriceRange">
                    <dd data-bind="attr:{id:id,title:value},text:value"></dd>
                </dl>
            </div>
        </div>
    </div>*@
    <ul class="Dto_ul" data-bind="foreach:List">
        <li>
            <a data-bind="attr:{href:'/Training/Car?id='+SchoolId+'&type='+$root.Type()+'&trainingtype='+$root.TrainingType()}" href="/Training/Info">
                <i class="iconfont icon-jiantou Dto_po_icon"></i>
                <img data-bind="attr:{src:FaceImage}" class="Dto_li_img">
                <div class="Dto_list">
                    <div class="Dto_list_h3" data-bind="text:Name"></div>
                    <div class="Dto_list_sm" data-bind="foreach:TagList"><span data-bind="text:Value"></span></div>
                    <div class="Dtlv_list_mh" style="font-size:0.2rem; color:#7e8591;"><i class="iconfont icon-dingwei"></i><span data-bind="text:AddressInfo"></span><font data-bind="text:',距您'+HowLong+'KM'"></font></div>
                    @*<div class="Dto_list_mh"><span data-bind="text:'￥'+TrainingPrice"></span><font data-bind="text:'距您'+HowLong+'KM'"></font></div>*@
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="page__bd" style="margin-bottom:80px;">
    <div class="weui-loadmore">
        <!--ko if:List().length==0-->
        <a href="javascript:void(0);" style="color:#ccc">没有相关信息</a>
        <!--/ko-->
    </div>
</div>