@{
    ViewBag.Title = "预约成功";
}
<script>
    var type = request('type');
    $(function () {
        $("#myorder").bind("click", function () {
            if (type == "2") {
                window.location.href = "/MaCenter/Training";
            } else {
                window.location.href = "/MyCenter/Training";
            }
        })
    })
</script>
<div class="Dtrn_top">
    <img src="/content/images/return.jpg">
    <div class="Dtrn_top_h2"><i class="iconfont icon-chenggong Dtrn_top_icon"></i><br />预约成功</div>
    <div class="Dtrn_top_txt">预约成功后，请按时前往考场进行缴费和实训，以免错过预约时间</div>
</div>

<div class="Dtrn_btn">
    <a href="#" onclick="window.history.go(-2)">确定</a>
    <a href="##" class="Dtrn_btn_a" id="myorder">查看我的预约订单</a>
</div>
