@{
    ViewBag.Title = "会员信息";
}
<div class="page list js_show">
   
    <div class="page__bd">

        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                  公司名称
                </div>
                <div class="weui-cell__ft">注册时间</div>
            </div>
            <div class="weui-cell weui-cell_swiped">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p>标题文字</p>
                        </div>
                        <div class="weui-cell__ft">说明文字</div>
                    </div>
                </div>
              
            </div>
        </div>

    </div>

    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" style="color:#ffffff;" id="showTooltips">导出列表</a>
            </div>
        </div>
    </div>
</div>