@{
    ViewBag.Title = "个人信息";
}
@section scripts{
    <script>
        function ViewModel() {
            var self = this;

            self.Account = ko.observable({
                UserName: ko.observable("@Model.UserName"),
                OldUserPwd: ko.observable(""),
                NewUserPwd: ko.observable(""),
                AccountId: ko.observable("@Model.AccountId"),
            });


            //保存
            self.UpdatePwd = function () {
                var $target = $(event.target);
                $target.attr('disabled', 'disabled');
                $.post("/Account/UpdatePwd", { AccountId: self.Account().AccountId(), OldUserPwd: self.Account().OldUserPwd(), NewUserPwd: self.Account().NewUserPwd() }, function (result) {
                    if (result.IsSuccess) {
                        ShowTips(result.Message, "ok");
                        setTimeout(function () {
                            window.history.back();
                        }, 200);
                    }
                    else {
                        ShowTips(result.Message);
                        $target.removeAttr('disabled');
                    }
                })
            }
        }

        $(function () {
            var model = new ViewModel();
            ko.applyBindings(model);
            $('#btn-save').on('click', function () {
                //提交
                model.UpdatePwd();
            });
        });
    </script>


}
<div class="page">
    <header class="wy-header">
        <div class="wy-header-icon-back" onclick="history.go(-1);"><span></span></div>
        <div class="wy-header-title">修改密码</div>
    </header>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">登录名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="" data-bind="value:Account().UserName" readonly>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">原始密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="password" placeholder="请输入原始密码" data-bind="value:Account().OldUserPwd">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">新密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="password" placeholder="请输入新密码" data-bind="value:Account().NewUserPwd">
        </div>
    </div>

    <div class="">
        <div class="weui-footer">
            <div class="weui-btn-area">
                <input class="weui-btn weui-btn_primary" type="button" value="修改密码" id="btn-save" />
            </div>
        </div>
    </div>
</div>