
@{
    ViewBag.Title = "提示";
}

<div class="Dtrn_top">
    <img src="/content/images/return.jpg">
    <div class="Dtrn_top_h2"><i class="iconfont icon-chenggong Dtrn_top_icon"></i><br />预约成功</div>
    <div class="Dtrn_top_txt">预约成功后，请准时前往保险公司进行缴费和服务，以防过号。</div>
</div>

<div class="Dtrn_btn">
    <a href="#" onclick="window.history.go(-1)">确定</a>
    <a href="/MyCenter/Insurance" class="Dtrn_btn_a">查看我的预约订单</a>
</div>

