@{
    ViewBag.Title = "修改密码";
}
@section scripts{
    <script>
        function ViewModel() {
            var self = this;
            self.Account = ko.observable({              
                OldUserPwd: ko.observable(""),
                NewUserPwd: ko.observable(""),
                AginNewUserPwd: ko.observable(""),
            });


            //保存
            self.UpdatePwd = function () {
                var $target = $(event.target);
                $target.attr('disabled', 'disabled');
                $.post("/Teacher/UpdatePwd", { OldUserPwd: self.Account().OldUserPwd(), NewUserPwd: self.Account().NewUserPwd() }, function (result) {
                    if (result.IsSuccess) {
                        ShowTips(result.Message, "ok");
                        setTimeout(function () {
                            window.history.back();
                        }, 200);
                    }
                    else {
                        ShowTips(result.Message);
                        $target.removeAttr('disabled');
                    }
                })
            }
        }

        $(function () {
            var model = new ViewModel();
            ko.applyBindings(model);
            $('#btn-save').on('click', function () {
                if (!model.Account().OldUserPwd()) {
                    ShowTips("请输入原始密码");
                    return;
                }
                if (!model.Account().NewUserPwd()) {
                    ShowTips("请输入新密码");
                    return;
                }
                if (!model.Account().AginNewUserPwd()) {
                    ShowTips("请输入确认密码");
                    return;
                }
                if (model.Account().AginNewUserPwd() != model.Account().AginNewUserPwd()) {
                    ShowTips("确认密码不一致");
                    return;
                }
                //提交
                model.UpdatePwd();
            });
        });
    </script>


}
<div class="McPd_con">
    <div class="McPd_row">
        <div class="McPd_input">
            <input type="password" placeholder="原密码" class="McPd_input_text" data-bind="value:Account().OldUserPwd">
        </div>
    </div>
    <div class="McPd_row">
        <div class="McPd_input">
            <input type="password" placeholder="新密码" class="McPd_input_text" data-bind="value:Account().NewUserPwd">
        </div>
    </div>
    <div class="McPd_row">
        <div class="McPd_input">
            <input type="password" placeholder="确认新密码" class="McPd_input_text" data-bind="value:Account().AginNewUserPwd">
        </div>
    </div>
</div>

<div class="McPd_btn">
    <input type="submit" value="确认修改" class="McPd_sub2" id="btn-save">
</div>