@{
    ViewBag.Title = "未设置导师";
}
<div class="BcNull_top">
    <img src="/content/images/return22.png">
    <div class="BcNull_top_h2"><i class="iconfont icon-zhuangtai BcNull_top_icon"></i><br />提示</div>
    <div class="BcNull_top_txt">您的教练暂未分配，请联系管理员进行分配教练。</div>
</div>

<div class="BcNull_btn">
    <a href="#" onclick="window.history.go(-3)">返回</a>
</div>

