@{
    ViewBag.Title = "年检评价";
}

<script type="text/javascript">
    var id = request('id');
    var type = request('type');
    function ViewModel() {
        var self = this;
        self.CommitLev = ko.observable("");
        self.CommitContent = ko.observable("");
        self.OrderId = ko.observable(id);
        self.Type = ko.observable(type);
        self.Send = function () {
            var postData = {};
            var count = 0;
            $("#comlev i").each(function () {
                var $this = $(this);
                if ($this.css("color") == "rgb(255, 68, 37)") {
                    count++;
                }
            })
            self.CommitLev(count);
            if (!self.CommitLev()) {
                ShowTips("请选择评分");
                return;
            }
            if (!self.CommitContent()) {
                ShowTips("请填写评价");
                return;
            }

            postData["CommitLev"] = self.CommitLev();
            postData["CommitContent"] = self.CommitContent();
            postData["OrderId"] = self.OrderId();
            postData["Type"] = self.Type();;
            $.post("/AuditCommittee/Send", { json: JSON.stringify(postData) }, function (result) {
                if (result.IsSuccess) {
                    ShowTips(result.Message, "ok");
                    setTimeout(function () {
                        if (type == "1") {
                            window.location.href = "/MyCenter/Audit";
                        } else if (type == "2") {
                            window.location.href = "/MyCenter/GroupAudit";
                        } else if (type == "3") {
                            window.location.href = "/MyCenter/TakeAudit";
                        }

                    }, 200);

                } else {
                    ShowTips(result.Message);
                }
            });
        }
    }
    $(function () {
        var model = new ViewModel();
        ko.applyBindings(model);

        $('.LeEv_xing font i').on('click', function () {
            var ii = $('.LeEv_xing font i')
            $(ii).css('color', '#ccc')
            for (var i = 0; i <= $(this).index() ; i++) {
                $(ii[i]).css('color', '#ff4425')
            }
        })
    })
</script>

<style>
</style>
<div class="LeEv">年检评价</div>

<div class="LeEv_div">
    <div class="LeEv_xing">
        <span>评分：</span>
        <font id="comlev">
            <i class="iconfont icon-xing1"></i>
            <i class="iconfont icon-xing1"></i>
            <i class="iconfont icon-xing1"></i>
            <i class="iconfont icon-xing1"></i>
            <i class="iconfont icon-xing1"></i>
        </font>
    </div>
    <div class="LeEv_text"><textarea placeholder="请输入评价内容" data-bind="value:$root.CommitContent"></textarea></div>
</div>
<div class="LeEv_btn"><button type="button" class="Mcin_botton2" data-bind="click:function(){$root.Send()}">提交评价</button></div>