@{
    ViewBag.Title = "年检预约";
}
@section scripts{
    <script type="text/javascript">
        function ViewModel() {
            var self = this;
            self.List = ko.observableArray([]);
            self.Id = ko.observable("");
            self.Status = ko.observable("-1");
            self.BindList = function () {
                $.get("/Audit/GetMyAudit", { status: self.Status() }, function (result) {
                    if (result.IsSuccess) {
                        self.List.removeAll();
                        var data = result.ResultData["List"];
                        self.List(data);
                        //添加弹窗
                        $('#btn_cancel').on('click', function () {
                            $('.McLcde_back').show();
                            $('.McLcdepopup').show();
                        })
                    }
                });
            }
            self.SetId = function (id) {
                self.Id(id);
            }
            self.SetCommittee = function (id) {
                window.location.href = "/MyCenter/AuditCommittee?id=" + id + "&type=1";
            }
            self.Cancel = function () {
                $.post("/Audit/Cancel", { id: self.Id() }, function (result) {
                    if (result.IsSuccess) {
                        ShowTips(result.Message, "ok");
                        hidepop();
                        self.BindList();
                    } else {
                        ShowTips(result.Message);
                    }
                });
            }
        }
        $(function () {
            var model = new ViewModel();
            ko.applyBindings(model);
            model.BindList();

            $('.McLcdepopup_close').on('click', function () {
                hidepop();
            })
            $('.McLc_button').on('click', function () {
                hidepop();
            })
            //菜单切换
            $('.order_nav dd span').on('click', function () {
                $('.order_nav dd span').removeClass('ornav_span')
                $(this).addClass('ornav_span');
                model.Status($(this).attr("data-status"));
                model.BindList();
            })
        })

        function hidepop() {
            $('.McLcde_back').hide();
            $('.McLcdepopup').hide();
        }
    </script>
}




<div class="McLcde_back"></div>
<div class="McLcdepopup">
    <div class="McLcdepopup_h2">提示</div>
    <div class="McLcdepopup_txt">
        <div class="McLcdepopup_li">请确认您是否要取消该预约单，一旦取消，您需要重新预约才可以进行相关操作。</div>
        <div class="McLcde_sub">
            <button type="button" class="McLc_button2" data-bind="click:function(){$root.Cancel();}">确定取消</button>
            <button type="button" class="McLc_button">关闭</button>
        </div>
    </div>
    <div class="McLcdepopup_close"><i class="iconfont icon-guanbi"></i></div>
</div>

<dl class="order_nav">
    <dd><span data-status="-1" class="ornav_span">全部</span></dd>
    <dd><span data-status="2">已支付</span></dd>
    <dd><span data-status="3">完成</span></dd>
    <dd><span data-status="4">取消</span></dd>
    <dd><span data-status="5">评价</span></dd>
</dl>

<ul class="order_con " data-bind="foreach:$root.List">
    <li>
        <i class="iconfont icon-jiantou2 order_icon"></i>
        <div class="order_row1">
            <div class="order_time"><i class="iconfont icon-jibenxinxi1"></i>预约单号：<em data-bind="text:AuditOrderNo"></em></div>
        </div>
        <div class="orcon_div">
            <div class="orcon_title">
                <font>预约日期 :</font><em data-bind="text:formatDate(ServiceDate,'yyyy-MM-dd')+' '+ServiceTime"></em>
            </div>
            <div class="orcon_title">
                <font>机构名称 :</font><em data-bind="text:Audit.Name"></em>
            </div>
            <div class="orcon_title">
                <font>机构地址 :</font><em data-bind="text:Audit.AddressInfo"></em>
            </div>
        </div>
        <div class="order_btn">
            <!--ko if:Status=="1"-->
            <div class="order_state2">状态:<span class="orcon_ok" data-bind="text:StatusName"></span></div>
            <div class="order_btn_a" id="btn_cancel" data-bind="click:function(){$root.SetId(AuditOrderId)}">取消</div>
            <!--/ko-->
            <!--ko if:Status!="1"-->
            <div class="order_state2">状态:<span class="orcon_red" data-bind="text:StatusName"></span></div>
            <!--ko if:Status=="3"-->
            <div class="order_btn_a" data-bind="click:function(){$root.SetCommittee(AuditOrderId)}">评价</div>
            <!--/ko-->
            <!--/ko-->
        </div>
    </li>

</ul>

<!--ko if:List().length==0-->
<div class=" order_null"><i class="iconfont icon-xiaofeijilu5"></i><span>暂无预约！</span></div>
<!--/ko-->