@{
    ViewBag.Title = "车主认证管理";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
<script>
    $(function () {
        InitialPage();
        GetGrid();

        //使用性质
        $("#ddlusetype").ComboBox({
            url: "/DataItemEnums/GetUseType",
            param: null,
            id: "ItemId",
            text: "ItemName",
            description: "==请选择使用性质==",
            height: "200px"
        });

        //车辆类型
        $("#ddlcartype").ComboBox({
            url: "/DataItemEnums/GetCarType",
            param: null,
            id: "ItemId",
            text: "ItemName",
            description: "==请选择车辆类型==",
            height: "200px"
        });
    });
    //初始化页面
    function InitialPage() {
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                //$("#gridTable").setGridHeight($(window).height() - 160);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "/QX360Manage/Owner/GetPageListJson",
            datatype: "json",
            height: $(window).height() - 170,
            autowidth: true,
            colModel: [
                { label: "主键", name: "OwnerId", hidden: true },
                 { label: "车主名称", name: "MemberName", index: "MemberName", width: 150, align: "center" },
                { label: "车主电话", name: "MemberMobile", index: "MemberMobile", width: 150, align: "center" },
                { label: "车牌号码", name: "CarNumber", index: "CarNumber", width: 150, align: "center" },

                {
                    label: "注册时间", name: "RegisterTime", index: "RegisterTime", width: 150, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM');
                    }
                },                
                { label: "车架号后四位", name: "CarFrameNum", index: "CarFrameNum", width: 100, align: "center" },                 
                { label: "使用性质", name: "UseTypeName", index: "UseTypeName", width: 200, align: "center" },
                { label: "车辆类型", name: "CarTypeName", index: "CarTypeName", width: 200, align: "center" },
                {
                     label: "创建时间", name: "CreateTime", index: "CreateTime", width: 100, align: "center",
                     formatter: function (cellvalue, options, rowObject) {
                         return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                     }
                 },

            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CreateTime',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true
        });
        //查询条件设置
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {};
            queryJson["keyword"] = $("#txt_Keyword").val();
            queryJson["condition"] = $("#queryCondition").find('.dropdown-text').attr('data-value');
            queryJson["usetype"] = $("#ddlusetype").attr('data-value');
            queryJson["cartype"] = $("#ddlcartype").attr('data-value');
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }
            }).trigger('reloadGrid');
        });
    }
    //新增
    function btn_add() {

        dialogOpen({
            id: "Form",
            title: '添加会员',
            url: '/QX360Manage/Owner/Form',
            width: "800px",
            height: "550px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    };
    //编辑
    function btn_edit() {
        var keyValue = $("#gridTable").jqGridRowValue("OwnerId");
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: "Form",
                title: '编辑信息',
                url: '/QX360Manage/Owner/Form?keyValue=' + keyValue,
                width: "800px",
                height: "550px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $("#gridTable").jqGridRowValue("OwnerId");
        if (keyValue) {
            $.RemoveForm({
                url: "/QX360Manage/Owner/RemoveForm",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#gridTable").trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg('请选择需要删除的行！', 0);
        }
    }


    //导出
    function btn_export() {
        var queryJson = {};
        queryJson["keyword"] = $("#txt_Keyword").val();
        queryJson["condition"] = $("#queryCondition").find('.dropdown-text').attr('data-value');
        queryJson["usetype"] = $("#ddlusetype").attr('data-value');
        queryJson["cartype"] = $("#ddlcartype").attr('data-value');
        var actionUrl = "/QX360Manage/Owner/ExportExcel";
        var iscompletedMsg = "iscompletedMsg";
        var para = "queryJson|" + JSON.stringify(queryJson);
        doProgressExport(para, actionUrl, iscompletedMsg, "uploadFlag");
    }

    function btn_import() {
        dialogOpen({
            id: "import",
            title: '批量导入',
            url: '/QX360Manage/Owner/Import',
            width: "800px",
            height: "550px",
            btn: null
        });
    }
</script><div class="row">


    <div class="toolbarPanel">
        <div class="row">
            <div class="col-md-1">
                <div id="queryCondition" class="btn-group">
                    <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-value="membername">车主姓名</a></li>
                        <li><a data-value="membermobile">车主电话</a></li>
                        <li><a data-value="carframenum">车架号后四位</a></li>
                        <li><a data-value="carnumber">车牌号</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-2">
                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="" />
            </div>
            <div class="col-md-2">
                <div id="ddlusetype" type="select" class="ui-select">
                </div>
            </div>
            <div class="col-md-2">
                <div id="ddlcartype" type="select" class="ui-select">
                </div>
            </div>
            <div class="col-md-1">
                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
            </div>

            <div class="toolbar">
                <div class="btn-group animated fadeInDownBig">
                    <a id="btn-replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    <a id="btn-add" class="btn btn-default" onclick="btn_add()" authorize="yes"><i class="fa fa-plus"></i>&nbsp;新增</a>
                    <a id="btn-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                    <a id="btn-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                    <a id="btn-more" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-reorder"></i>&nbsp;更多<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li id="btn-import" class=""><a onclick="btn_import()"><i class="fa fa-sign-in"></i>&nbsp;导入</a></li>
                        <li id="btn-export" class=""><a onclick="btn_export()"><i class="fa fa-sign-out"></i>&nbsp;导出</a></li>
                    </ul>
                    <span style="line-height: 26px" class='' id="uploadFlag">
                        <span id="iscompletedMsg"
                              style="display: none;"><font color='red'>正在处理，请稍候...</font></span>
                    </span>
                </div>
                @*<script>$('.toolbar').authorizeButton()</script>*@
            </div>
        </div>
    </div>
    <div class="gridPanel">
        <table id="gridTable"></table>
        <div id="gridPager" style="padding: 10px; height: 40px; background: #F3F3F4;"></div>
    </div>
</div>
